body{
}
html, body{
    margin: 0;
    padding: 0;
}
.header{
    background-image:"header.png" 
   background-color:black;
}
body{
	color: #white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #8C8C8C;
}
a, body{
    color: #737373;
    text-decoration: none;
    
}
a{
  text-transform: uppercase;
}
a:hover{
	color: #fff;
	text-decoration: none;   
	transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.mail-link{
    color: #f66c1b;
}
.mail-link:hover{
    color: #FF5D00;
    text-decoration: underline;
	transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
li{
    list-style-type: none;
}
p{
	font-size: 15px;
}

h1{
	font-weight: 700;
	font-size: 30px;
}
h2{
	font-weight: 700;
	font-size: 24px;
}
h3{
	font-weight: 700;
	font-size: 18px;
}
h1,h2,h3,h4,p{
	margin: 0;
	padding: 0;
}

@media (max-width:767px){
    h3 {
        font-size: 22px;
    }
    h2 {
        font-size: 46px;
    }
    p{
        font-size: 14px;
    }
    h2,h3,h4,p{
        text-align: center;
    }
}
/*===== ALIGNMENT =====*/
.right-align{
    text-align: right;
}
.center-align{
    text-align: center;
}



/*===== 5 COLUMN GRID =====*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 18%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*===== OFFSET RIGHT =====*/
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}  
.pad-zero{
    padding: 0;
}
.padRow{
    padding: 30px 0;
}
.italics{
    font-weight: 300;
}
.caps{
    text-transform: uppercase;
}
.text-center, .align-center{
    text-align: center;
}
.text-right, .align-right{
    text-align: right;
}
.no-display{
    display: none;
}
/*===== PADDING =====*/
.pad-top-20{
    padding-top: 20px;
}
.pad-top-30{
    padding-top: 30px;
}
.pad-top-60{
    padding-top: 60px;
}
.pad-bottom-30{
    padding-bottom: 30px;
}
@media (max-width:767px){
    .pad-top-xs-30{
        padding-top: 30px;
    }
}
.hr-gold{
    border-top-color:#fcd470;
}
.col-center{
    margin: auto;
    float: none;
}
.fullSize{
    position: relative;
    width: 100%;    
}
/*===== CENTER DIV VERT =====*/
.outer{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.inner{
    float: right;
    position: relative;
    right: 50%;
}

.inner img, .inner video{
    position: relative;
    right: -50%;
}
/*===== BOOTSTRAP OVERRIDES =====*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}
:focus {
    outline: none;
}
.btn {
    outline-color: transparent !important;
    box-shadow: none;
}
.btn-primary,.btn-success, .btn-primary:active:focus, .btn-success:active:focus {
    color: #fff;
    background-color: #c7342d;
    border-color: #A52722;
}
.btn-primary:hover, .btn-success:hover {
    color: #000;
    background: #eec60a;
    background-image: -webkit-linear-gradient(top, #eec60a, #eec60a);
    background-image: -moz-linear-gradient(top, #eec60a, #eec60a);
    background-image: -ms-linear-gradient(top, #eec60a, #eec60a);
    background-image: -o-linear-gradient(top, #eec60a, #eec60a);
    background-image: linear-gradient(to bottom, #eec60a, #eec60a);
    border-color: #dfc515;
}
.btn-secondary {
    color: #fff;
    background-color: #8d9da6;
    border-color: #8d9da6;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #73858E;
    border-color: #73858E;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #000;
    background-color: #DFC514;
    border-color: #DFC514;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #D63F39;
    border-color: #D63F39;
}
.btn-primary:focus, .btn-primary.focus {
    color: #000;
    background-color: #DFC514;
    border-color: #DFC514;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #000;
    background-color: #DB8813;
    border-color: #DB8813;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    color: #000;
    background-color: #DFC514;
    border-color: #DFC514;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus  {
    color: #000;
    background-color: #DFC514;
    border-color: #DFC514;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e5e5e5;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}




/*===== STYLES =====*/
.header-container{
  text-align: center;
  padding-bottom: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.module{
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
.no-overflow {
    overflow: hidden;
}
.wrapper-outer{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.wrapper-inner{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.copy-wrapper{
    width: 100%;
    margin: 0 auto;
}
.copy-inner{
    max-width: 360px;
    width: 100%;
}
.img-wrapper{
    width: 100%;
    margin: 0 auto;
}

.video-wrapper{
    max-width: 900px;
    margin: 0 auto;
}

.video-quote{
    max-width: 400px;
    padding-left: 50px;
    padding-top: 13%;
}







/*===== ANIMATION STYLES =====*/
.opacity-in{
    opacity: 1 !important;
}
