a{
	color: #e68d07;
}
a:hover{
	color: #fff;
}
.color-orange{
	color: #e68d07;
}
.color-grey{
	color: #5B5B5B;
}
.button-art{
	width: 374px;
	height: 52px;
	padding-top: 9px;
	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
}
.button-art:hover{
	background-image: url("");
}
#intro a, .button-art-text{
	color: #4d0d04;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
}
#intro a:hover,{
	color: #4d0d04;
	text-decoration: none;
}


section{
	position: relative;
}
footer{
	height: 400px;
	padding: 30px 0px;
	background-color: #000;
	color: #fff;
}
footer .wrapper-outer{
	text-align: center;
}
footer .nmcLogo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
footer .pressKit-wrapper, footer .biz-wrapper, footer .copyright{
	padding-top: 30px
}


#serverTimes .wrapper-outer{
	color: #fff;
	max-width: 328px;
	height: 40px;
	width: 100%;
	margin: auto;
	padding-top: 8px;
	background-color: #000000;
	background-image: url("../img/time-btn-bg.png");
}
#serverTimes {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
}
/*#serverTimes:hover {
	bottom: 0;
}*/
.serverTime-btn{
	display: block;
	cursor: pointer;
}
.gameState{
	float: left;
	padding-left: 18px;
}
#serverTimes .arrow{
	margin-right: 30px;
}

.info-outer{
	display: none;
	background-color: #000;
	padding: 20px;
	border-top: 1px solid #fff;
}
.info-inner{
	border: 1px solid #2B2B2B;
	padding: 20px;
	text-align: center;
}
.info-inner .dateHead{
	font-size: 28px;
	color: #fff;
}


.img-outer{
	position: absolute;
	max-width: 100%;
	margin: auto;
}

.fullScreen{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;	
}
.halfScreen{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 70vh;
	position: relative;	
}

#intro .module-outer {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px;
	top: 370px;
	max-width: 400px;
}
.intro-bg{
	position: absolute;
	z-index: 0;
	left: -140px;
	top: 10px;
	width: 707px;
	height: 280px;
	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
}

.cta-wrapper{
	position: relative;
	z-index: 10;
}
.logoType{
	color: #fff;
	font-size: 80px;
	font-weight: 700;
}
.tagLine{
	color: #e68d07;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
	padding-top: 20px;
}
.section-art{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.fullsize{
	height: 800px;
}
.halfsize{
	height: 400px;
}

#intro .section-art{
	background-image: url("achtergrond 1.png");	
}
#drop .section-art{
	background-image: url("achtergrond 2.png");	
}
#about .section-art{
	background-image: url("achtergrond 3.png");	
}
#media .section-art{
	background-image: url("achtergrond 4.png");	
}
#firstlook .section-art{
	background-color: white;
}
.section-wrapper{
	position: relative;
	z-index: 0;
	color: #fff;
	max-width: 390px;
}
.section-wrapper h2{
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.72);	
}
#welcome .section-wrapper h2{
  text-shadow: none;	
}

.header-art-bg{
	position: absolute;
	z-index: 0;
	width: 430px;
	height: 250px;
	background-image: url("../img/section-art-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	top: -10px;
	left: -20px;	
}
.module-outer{
	position: absolute;
	height: auto;
	padding: 20px;

}
#drop .module-outer {
	right: 0;
	top: 200px;
}
#drive .module-outer {
	left: 0;
	top: 200px;
}
#destroy .module-outer {
	right: 0;
	top: 200px;
}

#media .container, #firstLook .container, #welcome .container{
	padding: 120px 0px;
}
#media h2, #media p, #welcome h2, #welcome p{
	color: #000;
}

#media{
	background-color: #fff;
}
#media .module-outer {
	position: relative;
	margin: auto;
	padding: 20px;
}
#media .section-wrapper{
    max-width: 100%;
    text-align: center;
}
#media .btm-row{
			padding-top: 40px;
}
#firstLook .module-outer {
	position: relative;
	margin: auto;
	padding: 20px;
}
.screenshot_thumb{
    border: 6px solid transparent;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
/*transition: cubic-bezier(0,1,.64,.99);*/
}
.screenshot_thumb:hover{
    border: 6px solid #e68d07;
		transform: scale(1.05);
}

.divider-outer{
	position: absolute;
	z-index: 20;
	bottom: -65px;
	width: 100%;
	height: 120px;
	overflow: hidden;
}

.divider{
	width: 1920px;
	height: 118px;
	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#drop .divider{
	transform: scaleX(-1);
}


@media (min-width:768px) and (max-width:1024px){    
	#drop .module-outer {
		right: 3%;
		top: 200px;
	}
	#drive .module-outer {
		left: 0%;
		top: 270px;
	}
	#destroy .module-outer {
		right: 3%;
		top: 200px;
	}
}


@media (max-width:767px){    
	section {
		overflow: hidden;
	}
	.logoType {
			font-size: 60px;
	}
	.tagLine {
    font-size: 26px;
	}
	.button-art {
			width: 100%;
			background-size: 100%;
	}
	.section-wrapper h2 {
			font-size: 40px;
			font:white ;
	}
	.socials li {
			padding-right: 0px;
	}
	#media .btm-row{
				padding-top: 0px;
	}
	#media .row-pad-mobile{
        padding-top: 40px;
    }
	#firstLook .section-wrapper {
			max-width: 100%;
			text-align: center;
	}
	.gameState {
			font-size: 18px;
			margin-top: 3px;
	}
}





